COMPOSE_PROJECT_NAME=engineering-acceptance-test
MYSQL_DATABASE=acceptance_test
MYSQL_USER=acceptance_test
MYSQL_PASSWORD=test_only_password
MYSQL_ROOT_PASSWORD=test_only_root_password
MONGO_DATABASE=acceptance_test
MONGO_INITDB_ROOT_USERNAME=test_admin
MONGO_INITDB_ROOT_PASSWORD=test_only_mongo_password
SPRING_PROFILES_ACTIVE=test
